<ion-view view-title="${{ cost }}">
  <ion-content>
    <div class="list">



      <div class="item item-divider">
      <h4>Food</h4>
      </div>

      <div class="item item-button-right">
        Bagel
        <br>
        <span class="balanced">$1.00</span>
        <button class="button button-clear padding-top" on-tap="increment(1.00)">
          <i class="icon ion-plus"></i>
        </button>
      </div>

      <div class="item item-button-right">
        Bagel
        <br>
        <span class="balanced">$1.00</span>
        <button class="button button-clear padding-top" on-tap="increment(1.00)">
          <i class="icon ion-plus"></i>
        </button>
      </div>

      <div class="item item-button-right">
        Bagel
        <br>
        <span class="balanced">$1.00</span>
        <button class="button button-clear padding-top" on-tap="increment(1.00)">
          <i class="icon ion-plus"></i>
        </button>
      </div>

      <div class="item item-button-right">
        Granola Bar
        <br>
        <span class="balanced">$1.00</span>
        <button class="button button-clear padding-top" on-tap="increment(1.00)">
          <i class="icon ion-plus"></i>
        </button>
      </div>

      <div class="item item-divider">
      <h4>Drinks</h4>
      </div>

      <div class="item item-button-right">
        Coffee
        <br>
        <span class="balanced">$1.50</span>
        <button class="button button-clear padding-top" on-tap="increment(1.50)">
          <i class="icon ion-plus"></i>
        </button>
      </div>

      <div class="item item-button-right">
        Chai
        <br>
        <span class="balanced">$1.50</span>
        <button class="button button-clear padding-top" on-tap="increment(1.50)">
          <i class="icon ion-plus"></i>
        </button>
      </div>

      <div class="item item-button-right">
        Latte
        <br>
        <span class="balanced">$1.50</span>
        <button class="button button-clear padding-top" on-tap="increment(1.50)">
          <i class="icon ion-plus"></i>
        </button>
      </div>

      <div class="item item-divider">
      <h4>Addons</h4>
      </div>

      <div class="item item-button-right">
        Extra Espresso
        <br>
        <span class="balanced">$0.75</span>
        <button class="button button-clear padding-top" on-tap="increment(0.75)">
          <i class="icon ion-plus"></i>
        </button>
      </div>

      <div class="item item-button-right">
        Peanut Butter
        <br>
        <span class="balanced">$0.50</span>
        <button class="button button-clear padding-top" on-tap="increment(0.50)">
          <i class="icon ion-plus"></i>
        </button>
      </div>



    </div>
  </ion-content>
</ion-view>
